<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylecss.css">
    <script src="/js/funtion.js"></script>
</head>
<body>
    <div id="nav"></div>
    <div id="enter"></div>
    <div id="form"></div>
<script>
       window.onload = function () {
            includeHTML('/html/nav.html', 'nav');
            includeHTML('/html/enter.html', 'enter');
            includeHTML('/html/form.html', 'form');}
</script>
</body>
</html>