<ul>
    <li><a class="<%= path.path === '/' ? 'active' : '' %>" href="/">Home</a></li>
    <li><a class="<%= path.path === '/creat' ? 'active' : '' %>" href="/creat">News</a></li>
    <li><a class="<%= path.path === '/contact.asp' ? 'active' : '' %>" href="/contact.asp">Contact</a></li>
    <li><a class="<%= path.path === '/about.asp' ? 'active' : '' %>" href="/about.asp">About</a></li>
</ul>